body {
    background-image: url(../images/mytotool_fond.jpg) !important;
    background-size: cover;
    margin: 0;
    text-align: center;
    font-family: roboto, sans-serif;
}

#logo {
    width: 70px;
    background-color: #1e1e1e;
    padding: 0.5%;
}

#container {
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

.container form {
    padding: 20%;
    border: none;
    color: #fff;
    border-radius: 50%;
    background: #1e1e1e;
    box-shadow: 0 0 20px 0 rgb(74 74 74 / 20%), 0 5px 5px 0 rgb(215 215 215 / 24%);
}

h1 {
    font-size: 2.5em;
    margin: 1em;
    padding-bottom: 10px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 50px;
    display: inline-block;
    border: 2px solid #FDD559;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #FF84A7;
    color: white;
    border-radius: 50px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #e24f4f;
    color: #fff;
    font-weight: bold;
    border: none;
}

/* Liste lors d'une connexion */

#navbar {
    padding: 0 3% 0 3%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
}

#deconnexion {
    padding: 2em;
    margin: 0;
}

#deconnexion a {
    color: #1e1e1e;
    background-color: #fdd559;
    padding: 1em;
    border-radius: 50px;
    text-decoration: none;
}

#deconnexion a:hover {
    background-color: #ff84a7;
    color: #fff;
}

.header {
    margin : 0 auto;
    height : 60px;
}
 
.header_titre {
    color : #1e1e1e;
    text-align : center;
    font-size : 28px;
    margin-top: 1em;
    font-weight: bold;
}
 
.taches_input {
    width : 600px;
    margin : 0 auto;
    display : grid;
    grid-template-columns:  8fr 2fr;
}
 
#insert {
    height : 80%;
    width: 100%;
}
 
#send {
    background-color : #1e1e1e;
    color:#fff;
    border: none;
    border-radius: 50px;
    margin: 0.5em;
    cursor: pointer;
}

#send:hover {
    background-color: #E24F4F;
    color: #fff;
}
 
.taches {
    width : 80%;
    border: 1px solid white;
    margin : 0 auto;
    margin-top : 30px;
    border-collapse : collapse;
    color: white;
}
 
tbody{
    background-color: #ff84a7;
}

th {
    border: 1px solid white;
    padding : 10px;
    font-size: 1.3em;
}
 
td {
    border : 1px solid white;
    text-align : center;
    padding : 10px;
    background-color: white;
    color: #1e1e1e;
}
 
.suppr img {
    width: 50px;
    height: 50px; 
}
 
.suppr:hover {
    color : red;
    text-decoration : none;
}